@import url("http://fonts.cdnfonts.com/css/inter");
#links > * {
  @apply font-rambla text-EearieBlack;
}

#links > a:first-child {
  @apply font-semibold text-Chestnut;
}

#header {
  --height: 700px;
  height: var(--height);
  background: url("./assets/Group 5466.png");
  background-repeat: no-repeat;
  background-size: 100vw var(--height);
}

#booking {
  --height: 400px;
  height: var(--height);
  background: url("./assets/booking.png");
  background-repeat: no-repeat;
  background-size: 100vw var(--height);
}

#footer h1 {
  @apply text-xl font-bold text-Chestnut;
}

#footer div:nth-child(1),
#footer div:nth-child(2) {
  @apply flex flex-col gap-y-2;
}

#infos > div {
  @apply flex items-center justify-evenly;
}
